*{
	padding: 0;
	margin:0;
}



nav{
	display:flex;
	padding:2% 6%;
	justify-content:spacebetween;
	align-items:center;	
	
}

.logo {
	font-family: 'Montserrat',sans-serif;
	font-size:25px;
}
.nav-bar {
	
	flex:1;
	text-align:right;
	
}




.text-box h1{
	font-size:59px;
	font-family: 'Poppins', sans-serif;
	
	

	
}

.text-box p {
	margin: 10px  0  40px;
	font-size:16px;
	color::#101211;
	font-family: 'Montserrat', sans-serif;
	
}

.start-button {
	
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	border-radius:20px;
	background-color:#88c8db;
	color:#101211;
	padding:8px 22px;
	text-align:center;
	margin: 4px 2px;
	border:none;
	transition: 0.5s;
	position:relative;
	cursor:pointer;
	
	
}

.start-button:hover{
	
	background-color:#2e7dd9;
	color:#FFFFFF;
}

.image {
	
	left:55%;
	top:-40%;
	position:absolute;
	flex-basis:31%;
}

nav .fa{
	display:none;
}

@media(max-width: 700px ){
	.text-box h1{
		font-size:20px;
	}
	
	.text-box p{
		font-size:15px;
	
	}
	
	.nav-bar ul li {
		display:block;
	}
	
	.nav-bar {
		position:absolute;
		background:#2D66A3;
		height:100vh;
		width:200px;
		top:0;
		right:-200px;
		text-align:left;
		z-index:2;
		transition:1s;
		
		
	}
	
	nav .fa{
		display:block;
		color:#101211;
		margin:10px;
		font-size:22px;
		cursor:pointer;
		
	}
	
	.nav-bar ul{
		padding:30px;
	}
	
	
	
}


@media (max-width:700px){
	.image{
		flex-direction:column;
		
	}
}


/*-------popup uploag image form-------*/


.popup{
	
	background:rgba(0,0,0,0.6);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	display:none;
	justify-content:center;
	align-items:center;
	

}

.popup-content{
	
	height:250px;
	width:500px;
	
	background:#ffff;
	padding:20px;
	border-radius: 5px;
	position:relative;
	
	
}
.popup-content img{
	
	width:250px;
	height:150px;
	display:block;
	padding: 10px;
	margin-left:110px;
	
	
}

input {
	margin:20px auto;
	display:block;
	width:50%;
	border: 2px  solid black;
	
	
}

.uploadbutton {
	font-family:poppins;
	font-size:13px;
	border-radius:20px;
	background-color:#88c8db;
	color:#101211;
	padding:8px 22px;
	text-align:center;
	margin-left:159px ;
	border:none;
	transition: 0.5s;
	position:relative;
	cursor:pointer;
	
	
}

.closebutton {
	font-family:poppins;
	font-size:13px;
	border-radius:20px;
	background-color:#88c8db;
	color:#101211;
	padding:8px 22px;
	text-align:center;
	margin-left:10px ;
	border:none;
	transition: 0.5s;
	position:relative;
	cursor:pointer;

